body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

input, but1cton {
    padding: 10px;
    margin: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}
